*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
   /* background-color: red*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;   
}

#nav h3{
    font-size: 16px;
    border: 1.5px solid #000;
    padding: 10px 18px;
    border-radius: 50px;
    font-weight: 250;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid #000;
    padding: 10px 18px;
    border-radius: 50px;
    font-weight: 500;
}
#nav h1{
    font-weight: 250px;
    font-size: 48px;
 
}
#nav button{
    padding: 10px 18px;
    border-radius: 50px;
    border: .5px solid black;
    font-size: 16px;
    font-weight: 600px;
    background-color: white;
}
#nav>btn2{
    background-color: orangered;
    border: none;
    color: white;
}
#body>h1{
    /*color: red;*/
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 300px;
    width: 250px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: 3px solid white;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 20px;
    font-weight: 100;
}
#btm-arrow{
    border: .5px solid #000;
    bottom: -3%;
    left: 48%;
    position: absolute;
    border-radius: 40px;
    padding: 20px 20px;
    transform: translate(-50%,-50%);
}
#facebook{
    left: 82%;
    bottom: 5%;
    right: 16%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 5px 5px;
}
#twitter{
    left: 85%;
    bottom: 5%;
    right: 15%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 5px 5px;
}
